h2 {
  color: #d3d3d3;
}

div {
    display: block;
}

.rounded {
    border-radius: 5%;
}



.center {
  text-align: center;
  color: #8B0000;

}

/* gallery */


div.gallery {
    position: relative;
    border: 1px solid #ccc;
    width: 300px;
    border: 25px ;
    padding: 25px;
    margin: 25px;
    border-radius: 5%;

}

div.gallery:hover {
  -webkit-transform:scale(1.25); /* Safari and Chrome */
      -moz-transform:scale(1.25); /* Firefox */
      -ms-transform:scale(1.25); /* IE 9 */
      -o-transform:scale(1.25); /* Opera */
       transform:scale(1.25);

       opacity: 0.5;

}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  opacity: 0;
  background-color: #008CBA;
}


div.gallery img {
    width: 100%;
    height: auto;
}


* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


@media all and (max-width:960px) {
  #gallery {
    width: 900px;
   }
}
@media all and (max-width:720px) {
   #gallery {
     width: 660px;
   }
}
@media all and (max-width:480px) {
  #gallery {
    width: 420px;
  }
}
